* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    text-align: center;
}

button {
    border: 0;
    padding: 1em;
    text-transform: uppercase;
    margin: 1em;
    outline: none;
    background: #333;
    color: #efefef;
}

button:hover {
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.8);
}

ul {
    list-style: none;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

li {
    font-size: 2em;
    margin: 0.5em;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding-top: 90px;
    background: #efefef;
}

li:hover {
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
}